.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* dark overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(10, 10, 40, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
}

/* content on top */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  text-align: center;
  color: white;
  max-width: 700px;
}

.hero-content h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
}

.hero-content p {
  margin-top: 15px;
  font-size: 1.2rem;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .hero-content h1 {
    margin-top: 300px;
    font-size: 30px;
  }

  .hero-content p {
    font-size: 10px;
  }
}