.home .hero {
  height: 80vh;
  background: url('/hero.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.home .hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.home .hero p {
  font-size: 1.5rem;
}